@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');


.html {
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
}

.container-fluid {
    overflow: hidden;
}

/*----------------------------------------------------Background Colors */

.container-logo,
.container-video,
.container-contact {
    background-color: #311211;
}

.navbar-bg-color {
    background-color: #311211;
}

.container-about,
.container-projects,
.container-footer {
    background: #b08b72;
}

/*----------------------------------------------------General Text */

/* code used to style text across various sections */

h1,
h2 {
    color: #f0e7e7;
    margin: 0;
    text-shadow: 1.5px 1.5px 1px #9a9a9a;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.section-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 48px;
    color: #f0e7e7;
    text-shadow: 1.5px 1.5px 1px #9a9a9a;
    display: block;
    letter-spacing: 2px;
    padding: 25px;
    margin-top: 10%;
    box-shadow: 5px 5px 3px rgba(50, 50, 50, 50);
    -webkit-box-shadow: 5px 5px 3px rgba(50, 50, 50, 50);
    -moz-box-shadow: 5px 5px 3px rgba(50, 50, 50, 50);
}

.p-style {
    font-family: "Merriweather",sans-serif;
    font-weight: 100;
    font-size: 19px;
    margin-top: 20px;
    color: #f0e7e7;
    display: inline-block;
    mix-blend-mode: hard-light;
    opacity: 0.8;
    z-index: 1;
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 50);
    -webkit-box-shadow: 2px 2px 12x rgba(50, 50, 50, 50);
    -moz-box-shadow: 2px 2px 2px rgba(50, 50, 50, 50);
}

/*----------------------------------------------------Image Breakers */

#stadium1 {
    background-image: url('../images/stadium2.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

#stadium2 {
    background-image: url('../images/stadium5.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
}


/*----------------------------------------------------Navigation */

.logo-top {
    width: 70px;
    height: 70px;
    float: left;
    position: relative;
    mix-blend-mode: hard-light;
    opacity: 0.6;
    z-index: 1;

}

.navbar {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: lowercase;
    text-align: right;
    padding: 0 40px;
    float: right;
    mix-blend-mode: normal;
    opacity: 0.9;
}


/*----------------------------------------------------Home Page */


.name {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 56px;
    color: #f0e7e7;
    display: block;
    letter-spacing: 3px;
}

.title {
    font-family: "Merriweather",sans-serif;
    font-weight: 200;
    font-size: 30px;
    margin-top: 20px;
    color: #f0e7e7;
    display: inline-block;
    letter-spacing: 1px;
}

.logo-home {
    display: inline-block;
    padding: 0 30px 0px;
    float: none;
    text-align: center;
}

.image-fluid {
    height: auto;
    max-width: 100%;
    box-shadow: 7px 7px 5px rgba(50, 50, 50, 50);
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 50);
    -moz-box-shadow: 7px 7px 5px rgba(50, 50, 50, 50);
}

.img-left {
    padding: 0;
    mix-blend-mode: hard-light;
    opacity: 0.8;
    z-index: 1;
}

.logo-img-home {
    width: 300px;
    height: 300px;
    margin-top: 100px;
    mix-blend-mode: hard-light;
    opacity: 0.9;
    z-index: 1;
}

.social-links li a i {
    width: 34px;
    height: 34px;
    padding: 13px 0;
    border-radius: 10px;
    font-size: 14px;
    line-height: 8px;
    margin-top: 135px;
    color: #F0E7E7;
    background: #e51312;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    mix-blend-mode: hard-light;
    opacity: 0.9;
    z-index: 1;
}

.social-links li a i:hover {
    background: #cc3939;
}

/*----------------------------------------------------About */

.img-right {
    padding: 0;
    mix-blend-mode: hard-light;
    opacity: 0.7;
    z-index: 1;
    box-shadow: -5px 7px 5px rgba(50, 50, 50, 50);
    -webkit-box-shadow: -5px 7px 5px rgba(50, 50, 50, 50);
    -moz-box-shadow: -5px 7px 5px rgba(50, 50, 50, 50);
}

.p-aboutme {
    padding: 30px;
    display: inline-block;
    margin-top: 60px;
    margin-right: 10px;
}

.about {
    margin-right: 10px;
}

.container-video {
    padding: 40px;
}

.embed-responsive-item {
    mix-blend-mode: hard-light;
    opacity: 0.8;
    z-index: 1;
}


/*----------------------------------------------------Projects */

.container-projects {
    position: relative;
    padding: 50px;

}

.section-title-projects {
    margin-top: 5px;

}

/* the below code was referenced from  https://codepen.io/nxworld/pen/ZYNOBZ
I have used it to achieve unique hover effect and change parameters accordingly. */

.img-hover figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.img-hover figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/* end of tutorial code */

.img-hover {
    position: relative;
    padding: 20px;
    margin-top: 5%;
    box-shadow: 7px 7px 5px rgba(50, 50, 50, 50);
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 50);
    -moz-box-shadow: 7px 7px 5px rgba(50, 50, 50, 50);
}

.text {
    font-family: "Merriweather",sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #f0e7e7;
    display: inline-block;
    mix-blend-mode: hard-light;
    opacity: 0.8;
    z-index: 1;
    text-align: center;
}

.image-description {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #f0e7e7;
    display: block;
    letter-spacing: 2px;
    text-align: center;
}

/*----------------------------------------------------Contact */

.contact-form {
    padding: 40px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 75%;

}

.form-control {
    margin: 30px;
    mix-blend-mode: hard-light;
    opacity: 0.8;
    z-index: 1;
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 50);
    -webkit-box-shadow: 2px 2px 12x rgba(50, 50, 50, 50);
    -moz-box-shadow: 2px 2px 2px rgba(50, 50, 50, 50);
}

.btn-custom {
    color: #F0E7E7;
    background: #e51312;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    mix-blend-mode: hard-light;
    opacity: 0.9;
    z-index: 1;
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 50);
    -webkit-box-shadow: 2px 2px 12x rgba(50, 50, 50, 50);
    -moz-box-shadow: 2px 2px 2px rgba(50, 50, 50, 50);
}

.btn-custom:hover {
    background: #cc3939;
    color: #F0E7E7;
}




/*----------------------------------------------------Footer */

.container-footer {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;

}
